<!--
    Page: footer
    Website: Jarrod McGregor-Eaves Web Portfolio
    Author: Jarrod McGregor-Eaves
    Created: 7 June
    Purpose: HTML component for footer makes it resuable and reduces code of all other webpages
-->
<footer>
    <!-- Footer for website -->
    <p>All content on this website I have permission to use OR own. Jarrod McGregor-Eaves &#169; 2026</p>
    <address>
        <a href="mailto:">E. example@example.com</a>
        <br/>
        <a href="tel:">P. 12345678</a>
        <br/>
        <a href="https://github.com/jarr0ds">Github. jarr0ds</a>


    </address>
    <a href="https://www.flaticon.com/free-icons/burger-menu" title="burger-menu icons">Burger-menu icons created by bsd - Flaticon</a>
    <br>
    <a href="https://www.flaticon.com/free-icons/student" title="student icons">Student icons created by Icon Hubs - Flaticon</a>
    <br>
    <a href="https://www.flaticon.com/free-icons/skill" title="skill icons">Skill icons created by Freepik - Flaticon</a>
    <br>
    <a href="https://www.flaticon.com/free-icons/suit" title="suit icons">Suit icons created by Freepik - Flaticon</a>
</footer>