<a class = "skip-link" href="#main-content">Skip to main content</a>
<header class = "site-header">
    <nav class="site-nav">
        <img class = "site-nav-logo" src = 'img/je_logo.png' alt="Logo of Website is red with a little J and a </> next to it."/>
        <button class="site-nav-toggle" id = "site-nav-toggle">
            <img src="img/burger-menu.png" alt="hamburger-menu">
        </button>

            <ul class="site-nav-list">
                <li class="site-nav-item">
                    <a class= "site-nav-link" href="index.html"> Home </a>
                </li>
                <li class="site-nav-item">
                    <a class= "site-nav-link" href="JE_A3_resume.html"> Resume </a>
                </li>
                <li class="site-nav-item">
                    <a class= "site-nav-link" href="JE_A3_about.html"> About</a>
                </li>
                <li class="site-nav-item">
                    <a class= "site-nav-link" href="JE_A3_web_skills.html"> Web Skills </a>
                </li>
                <li class="site-nav-item">
                    <a class= "site-nav-link" href="newsletter.html"> News Letter </a>
                </li>
            </ul>
    </nav>
</header>